# Ignorar dependencias y archivos temporales
__pycache__/
*.pyc
*.pyo
*.log
.DS_Store

# Ignorar archivos de configuración del sistema
.vscode/
.idea/

# Ignorar entornos virtuales
venv/
.env
*.env

# Ignorar archivos de compilación de Node.js (para frontend)
node_modules/
dist/
build/
