# Ignorar dependencias y archivos temporales
__pycache__/
*.pyc
*.pyo
*.log
.DS_Store

# Ignorar archivos de configuración del sistema
.vscode/
.idea/

# Ignorar imágenes originales de CelebA
backend/models/lip_model/celebA/img_align_celeba/
backend/models/lip_model/celebA/*.txt

# Ignorar modelos pesados (puedes subirlos a Google Drive o AWS)
backend/models/lip_model/weights/

# Ignorar entornos virtuales
venv/
.env
*.env

# Ignorar archivos de compilación de Node.js (para frontend)
node_modules/
dist/
build/
